{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow-lg p-4 mx-auto" style="width: 80%; max-width: 500px; border-radius: 15px;">
        
        <!-- <h2 class="text-center mb-4">Welcome Back</h2> -->

        <form method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}

            <div class="d-grid mt-3">
                <button class="btn btn-dark btn-lg">Change Password</button>
            </div>
        </form>

        

    </div>
</div>

{% endblock %}